.style-switcher {
    position: fixed;
    top: 20px;      
    right: 20px;    
    padding: 15px;
    width: 200px;
    border: 1px solid var(--bg-black-50);
    background: var(--bg-black-100);
    z-index: 200;    
    border-radius: 5px;
    transition: all 0.3s ease;
    transform: translateX(100%);
}

.style-switcher.open {
    transform: translateX(-25px);
}

.style-switcher .s-icon {
    position: absolute;
    top: 20px;          
    left: -60px;        
    height: 40px;
    width: 40px;
    text-align: center;
    line-height: 40px;   
    font-size: 20px;
    background: var(--bg-black-100);
    color: var(--text-black-900);
    border: 1px solid var(--bg-black-50);
    cursor: pointer;
    transition: all 0.3s ease;
    border-radius: 50%;
}

.style-switcher .s-icon:hover {
    color: var(--skin-color);
}

.style-switcher .day-night {
    top: 65px;
}

.style-switcher h4 {
    margin: 0 0 10px;
    color: var(--text-black-900);
    font-size: 16px;
    font-weight: 600;
    margin-bottom: 15px;
}

.style-switcher .colors {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.style-switcher .colors span {
    display: inline-block;
    height: 30px;
    width: 30px;
    border-radius: 50%;
    border: 3px solid var(--bg-black-50);
    cursor: pointer;
    margin: 0 3px 5px;
}

.style-switcher .color-1 {
    background: #ec1839;
}

.style-switcher .color-2 {
    background: #fa5b0f;
}

.style-switcher .color-3 {
    background: #37b182;
}

.style-switcher .color-4 {
    background: #1854b4;
}

.style-switcher .color-5 {
    background: #f021b2;
}
